

.carousel-caption{
  opacity:0;
  transition:500ms ease-in-out;
}
.carousel-item:hover .carousel-caption{
  opacity:1;
}
.carousel-inner > .item > img { width:640px; height:360px; }

.body {
  background-color: white;
}

.topnav {
  background-color:white;
  padding:10px;
  border:solid;
  width:100%;
  }

.topnav a { 
  color: black;
  font-family:sans-serif;
  text-decoration: none;
  font-size: 17px;
  width:100%;
  padding: 10px 245px;
  padding-right:300px;
  }

.topnav a:hover {
  background-color: lightgrey;
  width:95%;
   }

.header {
  border: solid;
  text-align:center;
  padding-top:0px;
  background-color:lightseagreen;
  font-family:sans-serif;
  width:100%;
}


footer {
  background-color:lightseagreen;
  color:black;
  font-family:sans-serif;
  text-align:center;
  padding-top:20px;
  padding-bottom:20px;
  }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 0.8;
}

.text {
  background-color:lightseagreen;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


.header {
  border: solid;
  text-align:center;
  padding-top:0px;
  background-color:lightseagreen;
  width:100%;
}
